<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarranteeForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WarranteeForm.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=192.168.0.5\k2;Initial Catalog=YSS_DBLINK;Persist Security Info=True;User ID=sa;Password=Passw0rd@1</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value>6124</value>
            </setting>
            <setting name="Departments" serializeAs="String">
                <value>'6122','6123','6124','6125','6126'</value>
            </setting>
            <setting name="WarrantyUrl" serializeAs="String">
                <value>www.yss.co.th/warranty.php?serial=</value>
            </setting>
            <setting name="Ip" serializeAs="String">
                <value>169.254.235.60</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>file://192.168.0.89/pictureax/Picture Laser/</value>
            </setting>
        </WarranteeForm.Properties.Settings>
    </applicationSettings>
</configuration>